.pixel {
}
body {
    background-color: lightgoldenrodyellow;
}

.grid {
    width: 600px;
    height: 600px;
    display: grid;
    border: 2px solid black;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.center {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.toolbar {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 200px;
    border: 2px solid black;
    justify-content: space-around;
    align-items: center;
}


/* Button Layout and Effects */
.button {
    min-width: 100px;
    min-height: 40px;
    background-color: darkgray;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

.button:hover {
    background-color: lightslategray;
    color: white;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sliderNumber, .sizeLabel {
    font-size: 20px;
    font-weight: bolder;
    margin: 5px;
}
