/* Body and Front Page */

body {
    background-color: rgb(225,225,225);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.frontPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Beau Rivage', cursive;

}

.title {
    margin-top: 30px;
    margin-bottom: 40px;
}

/* Center Area - Toolbar and Grid */
.grid {
    width: 600px;
    height: 600px;
    min-width: 600px;
    display: grid;
    border: 2px solid rgb(150,150,150);
    box-shadow: 10px 10px 8px rgb(160,160,160), -10px -10px 8px rgb(160,160,160);
}

.pixel {
    background-color: rgb(225,225,225);
}
.center {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.toolbar {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 300px;
    border: 2px solid rgb(150,150,150);
    align-items: center;
    justify-content: space-around;
    box-shadow: 10px 10px 8px rgb(160,160,160), -10px -10px 8px rgb(160,160,160);
    border-radius: 10px;
}

.toolbarTop, .toolbarBottom{
    display: flex;
    flex-direction: column;
}

/* Button Layout and Effects */
.button {
    min-width: 200px;
    min-height: 40px;
    background-color: darkgray;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;

}

.button:hover {
    background-color: lightslategray;
    color: white;
}

.button.active {
    border: 3px solid black;
    color: white;
    background-color: rgb(100,100,100);
}
/* Slider  */
.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sliderNumber {
    font-size: 20px;
    font-weight: bolder;
    margin: 0px;
}


.sizeLabel {
    font-size: 20px;
    font-weight: bolder;
    margin: 0px;
    margin-top: 20px;
}


/* Color Picker */

.color-picker {
    min-width: 100px;
    min-height: 100px;
    align-self: center;
    background-color: rgb(225,225,225);
    border: none;
}
/* Footer */

.footerFont {
    font-family: 'Beau Rivage', cursive;
    font-size: 30px;
    font-weight: bolder;
}

.footerText {
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    margin: 10px 0px;
}