.drawn {
    background-color: black;
}

.erase {
    background-color: white;
}


.pixel {
    width: 5%;
    height: 5%;
}

.grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.center {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.toolbar {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 200px;
    border: 2px solid black;
    justify-content: space-around;
    align-items: center;
}

.button {
    min-width: 75px;
}